
.tweet-box
{
    padding-bottom: 10px;
    border-bottom: 0.5px solid var(--twitter-background);
    padding-right: 10px;
    overflow-y: scroll;
}

.tweet-box > form
{
    display: flex;
    flex-direction: column;
}

.tweetBox-input
{
   padding: 20px;
   display: flex;
}

.tweetBox-input > input
{
   flex: 1; 
   margin-left: 20px;
   font-size: 20px;
   border: none;
   width: 100%;
   outline: none;
}


.tweetBox-input > textarea
{
   flex: 1; 
   margin-left: 20px;
   font-size: 20px;
   border: none;
   width: 100%;
   outline: none;
}


.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

.tweet_button
{
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 700 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    width: 80px;
    height: 40px !important;
    margin-top: 0px !important;
    margin-left: auto !important;
}  


.tweet_button:hover
{
    background-color: #269ee9 !important;
}

.tweet_no
{
    padding: 15px;
    color: var(--twitter-color);
    cursor: pointer;
}

.tweet_no_container
{
    display: flex;
    justify-content: center;
    border-bottom: 0.5px solid var(--twitter-background);
}

.tweet_no_container:hover
{
    background-color: #e8f5fe;
}

.tweet_section
{
    display: flex;
    justify-content: space-between;
}


.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .btn {
    
    color: var(--twitter-color);
    background-color: white;
    background-color: #e8f5fe;
    padding: 6px 20px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    /* border: 1px solid black; */
  }


  .btn:hover
  {
    background-color: #e8f5fe;
    cursor: pointer;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  .container
  {
    padding-left: 50px;
    padding-top: 5px;
  }


  .icon_image {
    width: 500px;
    /* height: 500px; */
    max-height: 400px;
    margin: 0 auto;
}

.icon_image > img
{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 20px;
    margin-bottom: 20px;
}






.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--twitter-background);
  padding-bottom: 10px;
  cursor: pointer;
}

.post__body {
  flex: 1;
  padding: 10px;
  margin-top: 10px;
}

.post__body > img {
  border-radius: 20px;
}

.post_img
{
    max-width: 500px;
    min-width: 500px;
}
