
<div class="tweet-box">
  <form>
      <div class="tweetBox-input">
        <div>  <img src="../../../assets/blank.png" alt="Avatar" class="avatar"> </div>
       <textarea #textinput [rows]="row" (keyup)="fun($event.target.value)" cols="50" #inputval placeholder="What's happening?"></textarea>
      </div>
      <div *ngIf="base64Img" class="icon_image">
        <!-- <img [src]="data.image" alt="" srcset=""> -->
        <img [src]="base64Img" alt="Avatar">
      </div>
      <div class="tweet_section">
      <div class="container">
      <div class="upload-btn-wrapper">
          <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
          <input type="file" #fileInput id="file" (change)="loadAllImages($event.target.files)">
        </div>
      </div>  
      <div> 
        <button type="button" class="tweet_button" (click)="saveProductDetailsStepThree()" [disabled]="!base64Img && !description" > Tweet </button>
      </div>  
      </div>
  </form>
</div>