.app
{
    display: flex;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

.sidebar-width
{
    min-width: 30%;
    max-width: 30%;
}

.feed-width
{
    min-width: 40%;
    max-width: 40%;
}