<div class="tweet-box">
    <form>
        <div class="tweetBox-input">
          <div>  <img src="https://i.zoomtventertainment.com/story/gaurav-chopra.jpg?tr=w-1200,h-900" alt="Avatar" class="avatar"> </div>
         <textarea [rows]="row" (keyup)="fun($event.target.value)" cols="50" placeholder="What's happening?"></textarea>
        </div>
        <div class="tweet_section">
        <div class="container">
        <div class="upload-btn-wrapper">
            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
            <input type="file" #fileInput id="file" (change)="loadAllImages($event.target.files)">
          </div>
        </div>  
        
        <div> 
          <button class="tweet_button" > Tweet </button>
        </div>  
        </div>
    </form>
</div>



<div class="tweet_no_container" >
    <div class="tweet_no"> Show 1 Tweet </div>
</div>