<div class="post">
    <div class="post__avatar">
        <div>  <img src="../../../assets/blank.png" alt="Avatar" class="avatar"> </div>
    </div>
    <div class="post__body">
      <div class="post__header">
        <div class="post__headerText">
         <div class="user_info">
            
            <div>
            <span class="bold" > {{ name }}  </span>
            <span class="user_name" > {{ email }}  </span>
            <!-- <span class="user_name" > . </span>
            <span class="user_name" > 7m </span> -->
             </div>
         </div>
        </div>
        <div class="post__headerDescription">
          <p>{{ description }}</p>
        </div>
      </div>
      <img [src]="image" 
      class="post_img" alt="" />
      <div class="post__footer">
       <i class="fa fa-comment icon"  matTooltip="Comment" aria-hidden="true"></i>
        <i class="fa fa-heart icon"  matTooltip="Like" aria-hidden="true"></i>
      </div>
    </div>
  </div>