<div class="post" ref={ref}>
    <div class="post__avatar">
        <div>  <img src="https://i.zoomtventertainment.com/story/gaurav-chopra.jpg?tr=w-1200,h-900" alt="Avatar" class="avatar"> </div>
    </div>
    <div class="post__body">
      <div class="post__header">
        <div class="post__headerText">
         <div class="user_info">
            
            <div>
            <span class="bold" > GAURAV KUMAR  </span>
            <span class="user_name" > GAURAV2146  </span>
            <span class="user_name" > . </span>
            <span class="user_name" > 7m </span>
             </div>

             <div>
                 ...
             </div>

         </div>
        </div>
        <div class="post__headerDescription">
          <p>Hello there</p>
        </div>
      </div>
      <img src="https://i.zoomtventertainment.com/story/gaurav-chopra.jpg?tr=w-1200,h-900" style="max-width: 500px;" alt="" />
      <!-- <div class="post__footer">
        <ChatBubbleOutlineIcon fontSize="small" />
        <RepeatIcon fontSize="small" />
        <FavoriteBorderIcon fontSize="small" />
        <PublishIcon fontSize="small" />
      </div> -->
    </div>
  </div>