<div style="overflow-y: scroll;" >

<div class="user__input">
    <i class="fa fa-search user__searchIcon" aria-hidden="true"></i>
    <input placeholder="Search Twitter" type="text" />
</div>

<div class="follower__info">
    <div class="header_text">  Who to follow </div>
    
    <span *ngFor="let user of users_to_follow" >
    <app-followers  [name] = "user.name" [email] = "user.email" ></app-followers>
    </span>

    <!-- <app-followers></app-followers>
    <app-followers></app-followers> -->
</div>
 


<div class="policy_header">
   <div class="policy"> Terms of Service Privacy Policy Cookie Policy </div>
  <div class="policy" > Ads info More... © 2021 Twitter, Inc. </div> 
</div>

</div>