
  .user__input {
    display: flex;
    align-items: center;
    background-color: var(--twitter-background);
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
  }


  .follower__info
  {
    background-color: var(--twitter-background);
    /* padding: 10px; */
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
    min-height: 80vh;
  }

  .user__input:focus-within
  {
      border: 1px solid  var(--twitter-color);;
      transition-duration: 0.5s
  }

 
  .user__input > input {
    border: none;
    background-color: var(--twitter-background);
    outline: none;
  }
  
  .user__searchIcon {
    color: gray;
    padding-right: 20px;
    padding-left: 10px;
  }
  
  .user__widgetContainer {
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    background-color: #f5f8fa;
    border-radius: 20px;
  }
  
  .user__widgetContainer > h2 {
    font-size: 18px;
    font-weight: 800;
  }
  
  .header_text
  {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    
  }

  .policy_header
  {
    margin-left: 30px;
    margin-top: 10px;
  }

  .policy
  {
    color: rgb(161, 160, 160);
    font-size: 12px;
  }

  .avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  

  .post {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--twitter-background);
    padding-bottom: 0px;
    cursor: pointer;
  }
  
  .post__body {
    flex: 1;
    padding: 0px;
    margin-top: 20px;
  }
  
 
  
  .post__badge {
    font-size: 14px !important;
    color: var(--twitter-color);
  }
  
  .post__headerSpecial {
    font-weight: 600;
    font-size: 12px;
    color: gray;
  }
  
  .post__avatar {
    padding: 20px;
  }

  .user_name
  {
      color: gray;
      font-size: 14px;
  }

  .bold
  {
      font-weight: bold;
      font-size: 14px;
  }

  .user_info
  {
      display: flex;
      justify-content: space-between;
      
  }

  .avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  

  .icon
  {
      color: gray;
      /* border: 1px solid black; */
      padding: 10px;
      border-radius: 50%;
      margin: 0 10px;
      
  }


 

.follow_user_info:hover
{
    background-color: #e8f5fe;
}


.follow_btn
{
    margin-top: 25px;
    margin-right: 15px;
    border-radius: 50px !important;
}  