
<div class="twitter-icon" style="max-width: 50px;" >
 <div> <i class="fab fa-twitter icon active"></i> </div>
</div>

<div class="sidebar-field" >
  <div> <i class="fa fa-home icon" aria-hidden="true"></i> </div>
   <div class="option"> Home </div>
 </div>

 <div class="sidebar-field" >
  <i class="fa fa-hashtag icon" aria-hidden="true"></i>
   <div class="option"> Explore </div>
 </div>


 <div class="sidebar-field" >
  <i class="fa fa-bell icon" aria-hidden="true"></i>
   <div class="option"> Notification </div>
 </div>

 <div class="sidebar-field" >
  <i class="fa fa-envelope icon" aria-hidden="true"></i>
   <div class="option"> Messages </div>
 </div>
 
 
 <div class="sidebar-field" >
  <i class="fa fa-bookmark icon" aria-hidden="true"></i>
   <div class="option"> Bookmarks </div>
 </div>

 <div class="sidebar-field" >
  <i class="fa fa-list icon" aria-hidden="true"></i>
   <div class="option"> Lists </div>
 </div>

 <div class="sidebar-field" >
  <i class="fa fa-user icon" aria-hidden="true"></i>
   <div class="option"> Profile </div>
 </div>

 
 <div class="sidebar-field" >
  <i class="fa fa-info-circle icon" aria-hidden="true"></i>
   <div class="option"> More </div>
 </div>


 <button class="tweet" > Tweet </button>

 

 