<div class="follow_user_info">
    <div class="post">
        <div class="post__avatar">
            <div>  <img src="https://i.zoomtventertainment.com/story/gaurav-chopra.jpg?tr=w-1200,h-900" alt="Avatar" class="avatar"> </div>
        </div>
        <div class="post__body">
          <div class="post__header">
            <div class="post__headerText">
             <div class="user_info">
                <div>
                <div class="bold" > GAURAV KUMAR  </div>
                <div class="user_name" > @GAURAV2146  </div>
                 </div>
             </div>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-dark follow_btn" (click)="addFollower()" >Follow</button>
      </div>
</div>