<div class="follow_user_info">
    <div class="post">
        <div class="post__avatar">
            <div>  <img src="../../../assets/blank.png" alt="Avatar" class="avatar"> </div>
        </div>
        <div class="post__body">
          <div class="post__header">
            <div class="post__headerText">
             <div class="user_info">
                <div>
                <div class="bold" > {{ name.substring(0,20) }} </div>
                <div class="user_name" > {{ email.substring(0,22) }} </div>
                 </div>
             </div>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-dark follow_btn" (click)="addFollower()" >Follow</button>
      </div>
</div>